
.tb {
    color:green;
    border:2px solid black;
    width:400px;
    
  }
  th:hover{
    cursor: pointer;
  }
  td,th{
    border:1px solid grey
  }
  table{
    width:100%;
    margin-top: 2px;
    border-collapse: collapse;
  }
  .asc{
    color:white;
    background-color: darkgreen
  }
  .desc{
    color:yellow;
    background-color:brown
  }
  i{
    margin-left: 10px;
  }
  
  .header{
    display:inline-block
  
  }
  #title{
    text-decoration: underline;
  }
  .container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .btns{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .active{
    background-color:mediumpurple;
  }


